<h1 class="uppercase text-center text-green-custom text-3xl font-bold">Categories</h1>

<ul class=" p-8">
  <% @groups.each do |group| %>
  <%= link_to expenses_path(group_id: group.id) do %>
    <li class="flex justify-center gap-6 items-center bg-white shadow-md rounded-lg mb-4 p-2 mx-auto md:w-2/4">
    <%= image_tag rails_blob_path(group.icon), class: "w-16 h-16" if group.icon.attached? %>
      <p class="whitespace-nowrap text-gray-600"><%= group.name %></p>
      <p class="whitespace-nowrap">Total spent: $<%= number_with_precision(group.expenses.sum(:amount), precision: 2) %></p>
    </li>
  <% end %>
   <% end %>

</ul>
<div class="text-center mt-8">
<%= link_to "Add a new category", new_group_path, class: " p-2 inline-flex justify-center items-center border border-green-custom mb-8" %>
</div>