<div class="flex items-center justify-between mx-4 md:mx-20"><%= link_to "&larr;".html_safe, groups_path, class: "text-5xl mb-3 text-black font-bold" %>
<h1 class="uppercase text-center text-green-custom text-2xl">
Create New Category</h1>
</div>
<%= form_for @group, html: { class: "flex flex-col gap-4 m-8 items-center" }  do |f| %>
  <div class="flex flex-col gap-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="flex flex-col gap-2">
    <%= f.label :icon %>
    <%= f.file_field :icon %>
  </div>

  <%= f.submit "Save", class: " p-1 inline-flex justify-center items-center border border-green-custom w-32 cursor-pointer text-teal-900" %>
<% end %>
